/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

header {
    background-color: #0078d4;
    color: #fff;
    padding: 20px;
}

main {
    padding: 20px;
}

button {
    background-color: #0078d4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
